<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Travel App</title>
</head>

<body>

    <header>
        <div class="header-background">
            <section class="form-container">
                <form class="main-form">
                    <h2>Explore your next destination</h2>
                    <input id="destination" type="text" name="input" value="" placeholder="Location">
                    <input id="departure" type="date" name="input" value="" placeholder="Departure"
                        onkeydown="return false" min="" max="2030-12-31">
                    <button id="btnSubmit" type="button" name="" value="search">Search</button>
                </form>
            </section>
        </div>
    </header>

    <main>
        <section id="card-container" style="">
            <img id="cityImg" src="">
            <article>
                <h2 id="desTitle"></h2>
                <h3 id="countdown"></h3>
                <img id="weatherIcon" src="">
                <div id="info">
                    <h3 id="temp"></h3>
                    <h3 id="description"></h3>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <p>Saud Al-Slimany, 2021.</p>
    </footer>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>

</html>